{% extends 'Header.html' %}

{% block content %}
{% load staticfiles %}
<div class="se-pre-con"></div>
<section>
  <!-- sidebar menu start -->
  {% include 'dashboard/sidebar.html' %}
  <!-- //sidebar menu end -->
  <!-- header-starts -->
  <div class="header sticky-header">

    <!-- notification menu start -->
    <div class="menu-right">
      <div class="navbar user-panel-top">
        <!-- <div class="search-box">
          <form action="#search-results.html" method="get">
            <input class="search-input" placeholder="Search Here..." type="search" id="search">
            <button class="search-submit" value=""><span class="fa fa-search"></span></button>
          </form>
        </div> -->
        <div class="user-dropdown-details d-flex">
          <!-- <div class="profile_details_left">
            <ul class="nofitications-dropdown">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                    class="fa fa-bell-o"></i><span class="badge blue">3</span></a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="notification_header">
                      <h3>You have 3 new notifications</h3>
                    </div>
                  </li>
                  <li><a href="#" class="grid">
                      <div class="user_img"><img src="assets/images/avatar1.jpg" alt=""></div>
                      <div class="notification_desc">
                        <p>Johnson purchased template</p>
                        <span>Just Now</span>
                      </div>
                    </a></li>
                  <li class="odd"><a href="#" class="grid">
                      <div class="user_img"><img src="assets/images/avatar2.jpg" alt=""></div>
                      <div class="notification_desc">
                        <p>New customer registered </p>
                        <span>1 hour ago</span>
                      </div>
                    </a></li>
                  <li><a href="#" class="grid">
                      <div class="user_img"><img src="assets/images/avatar3.jpg" alt=""></div>
                      <div class="notification_desc">
                        <p>Lorem ipsum dolor sit amet </p>
                        <span>2 hours ago</span>
                      </div>
                    </a></li>
                  <li>
                    <div class="notification_bottom">
                      <a href="#all" class="bg-primary">See all notifications</a>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                    class="fa fa-comment-o"></i><span class="badge blue">4</span></a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="notification_header">
                      <h3>You have 4 new messages</h3>
                    </div>
                  </li>
                  <li><a href="#" class="grid">
                      <div class="user_img"><img src="assets/images/avatar1.jpg" alt=""></div>
                      <div class="notification_desc">
                        <p>Johnson purchased template</p>
                        <span>Just Now</span>
                      </div>
                    </a></li>
                  <li class="odd"><a href="#" class="grid">
                      <div class="user_img"><img src="assets/images/avatar2.jpg" alt=""></div>
                      <div class="notification_desc">
                        <p>New customer registered </p>
                        <span>1 hour ago</span>
                      </div>
                    </a></li>
                  <li><a href="#" class="grid">
                      <div class="user_img"><img src="assets/images/avatar3.jpg" alt=""></div>
                      <div class="notification_desc">
                        <p>Lorem ipsum dolor sit amet </p>
                        <span>2 hours ago</span>
                      </div>
                    </a></li>
                  <li><a href="#" class="grid">
                      <div class="user_img"><img src="assets/images/avatar1.jpg" alt=""></div>
                      <div class="notification_desc">
                        <p>Johnson purchased template</p>
                        <span>Just Now</span>
                      </div>
                    </a></li>
                  <li>
                    <div class="notification_bottom">
                      <a href="#all" class="bg-primary">See all messages</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div> -->
          <div class="profile_details">
            <ul>
              <li class="dropdown profile_details_drop">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" aria-haspopup="true"
                  aria-expanded="false">
                  <div class="profile_img">
                    <img src="{{ details.profile_image.url }}" class="rounded-circle" alt="" />
                    <div class="user-active">
                      <span></span>
                    </div>
                  </div>
                </a>
                <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                  <li class="user-info">
                    <h5 class="user-name">{{ user.username }}</h5>
                    <span class="status ml-2">{{ details.account_number }}</span>
                  </li>
                  {% include 'dashboard/profile-header-links.html' %}
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--notification menu end -->
  </div>
  <!-- //header-ends -->
<!-- main content start -->
<div class="main-content">

    <!-- content -->
    <div class="container-fluid content-top-gap">

        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Loan</li>
            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <div class="cards__heading">
            <h3>Loan Application</h3>
          </div>
        <!-- forms -->
        <section class="forms">
            <div class="card card_border py-2 mb-4">
              {% if success_message %}
              <div class="alert alert-success" role="alert">{{ success_message }}</div>
              <script>
                setTimeout(function(){
                    window.location.href = "/dashboard/";
                }, 3000)
            </script>
              {% endif %}
                <div class="card-body">
                    <form action="#" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputState" class="input__label">Title</label>
                                <select id="inputState" class="form-control input-style" required>
                                    <option selected>Choose...</option>
                                    <option value="Mr">Mr</option>
                                    <option value="Mrs">Mrs</option>
                                    <option value="Ms">Ms</option>
                                </select>
                            </div>
                            <div class="col-md-6"></div>
                            <div class="form-group col-md-6">
                                <label for="inputfirstname" class="input__label">First Name</label>
                                <input type="text" class="form-control input-style" id="inputfirstname"
                                placeholder="First Name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputlastname" class="input__label">Last Name</label>
                                <input type="text" class="form-control input-style" id="inputlastname"
                                    placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputState" class="input__label">Birth Date</label>
                            <div class="row">
                                <div class="col-md-4">
                                    <select id="month" class="form-control input-style" required>
                                        <option selected>Month</option>
                                        <option value="January">January</option>
                                        <option value="February">February</option>
                                        <option value="March">March</option>
                                        <option value="April">April</option>
                                        <option value="May">May</option>
                                        <option value="June">June</option>
                                        <option value="July">July</option>
                                        <option value="August">August</option>
                                        <option value="September">September</option>
                                        <option value="October">October</option>
                                        <option value="November">November</option>
                                        <option value="December">December</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <select id="day" class="form-control input-style" required>
                                        <option selected>Month</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <select id="year" class="form-control input-style" required>
                                        <option selected>Year</option>
                                        <option value="2021">2021</option>
                                        <option value="2020">2020</option>
                                        <option value="2019">2019</option>
                                        <option value="2018">2018</option>
                                        <option value="2017">2017</option>
                                        <option value="2016">2016</option>
                                        <option value="2015">2015</option>
                                        <option value="2014">2014</option>
                                        <option value="2013">2013</option>
                                        <option value="2012">2012</option>
                                        <option value="2011">2011</option>
                                        <option value="2010">2010</option>
                                        <option value="2009">2009</option>
                                        <option value="2008">2008</option>
                                        <option value="2007">2007</option>
                                        <option value="2006">2006</option>
                                        <option value="2005">2005</option>
                                        <option value="2004">2004</option>
                                        <option value="2003">2003</option>
                                        <option value="2002">2002</option>
                                        <option value="2001">2001</option>
                                        <option value="2000">2000</option>
                                        <option value="1999">1999</option>
                                        <option value="1998">1998</option>
                                        <option value="1997">1997</option>
                                        <option value="1996">1996</option>
                                        <option value="1995">1995</option>
                                        <option value="1994">1994</option>
                                        <option value="1993">1993</option>
                                        <option value="1992">1992</option>
                                        <option value="1991">1991</option>
                                        <option value="1990">1990</option>
                                        <option value="1989">1989</option>
                                        <option value="1988">1988</option>
                                        <option value="1987">1987</option>
                                        <option value="1986">1986</option>
                                        <option value="1985">1985</option>
                                        <option value="1984">1984</option>
                                        <option value="1983">1983</option>
                                        <option value="1982">1982</option>
                                        <option value="1981">1981</option>
                                        <option value="1980">1980</option>
                                        <option value="1979">1979</option>
                                        <option value="1978">1978</option>
                                        <option value="1977">1977</option>
                                        <option value="1976">1976</option>
                                        <option value="1975">1975</option>
                                        <option value="1974">1974</option>
                                        <option value="1973">1973</option>
                                        <option value="1972">1972</option>
                                        <option value="1971">1971</option>
                                        <option value="1970">1970</option>
                                        <option value="1969">1969</option>
                                        <option value="1968">1968</option>
                                        <option value="1967">1967</option>
                                        <option value="1966">1966</option>
                                        <option value="1965">1965</option>
                                        <option value="1964">1964</option>
                                        <option value="1963">1963</option>
                                        <option value="1962">1962</option>
                                        <option value="1961">1961</option>
                                        <option value="1960">1960</option>
                                        <option value="1959">1959</option>
                                        <option value="1958">1958</option>
                                        <option value="1957">1957</option>
                                        <option value="1956">1956</option>
                                        <option value="1955">1955</option>
                                        <option value="1954">1954</option>
                                        <option value="1953">1953</option>
                                        <option value="1952">1952</option>
                                        <option value="1951">1951</option>
                                        <option value="1950">1950</option>
                                        <option value="1949">1949</option>
                                        <option value="1948">1948</option>
                                        <option value="1947">1947</option>
                                        <option value="1946">1946</option>
                                        <option value="1945">1945</option>
                                        <option value="1944">1944</option>
                                        <option value="1943">1943</option>
                                        <option value="1942">1942</option>
                                        <option value="1941">1941</option>
                                        <option value="1940">1940</option>
                                        <option value="1939">1939</option>
                                        <option value="1938">1938</option>
                                        <option value="1937">1937</option>
                                        <option value="1936">1936</option>
                                        <option value="1935">1935</option>
                                        <option value="1934">1934</option>
                                        <option value="1933">1933</option>
                                        <option value="1932">1932</option>
                                        <option value="1931">1931</option>
                                        <option value="1930">1930</option>
                                        <option value="1929">1929</option>
                                        <option value="1928">1928</option>
                                        <option value="1927">1927</option>
                                        <option value="1926">1926</option>
                                        <option value="1925">1925</option>
                                        <option value="1924">1924</option>
                                        <option value="1923">1923</option>
                                        <option value="1922">1922</option>
                                        <option value="1921">1921</option>
                                        <option value="1920">1920</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputmaritalstatus" class="input__label">Marital Status</label>
                            <select id="inputmaritalstatus" class="form-control input-style" required>
                                <option selected>Choose...</option>
                                <option value="single">Single</option>
                                <option value="married">Married</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="inputemail" class="input__label">Email</label>
                                <input type="eamil" class="form-control input-style" id="inputemail"
                                    placeholder="Email" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputphonenumber" class="input__label">Phone Number</label>
                                <input type="tel" class="form-control input-style" id="inputphonenumber"
                                    placeholder="Phone Number" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress" class="input__label">Address</label>
                            <input type="text" class="form-control input-style" id="inputAddress"
                                placeholder="1234 Main St" required>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress2" class="input__label">Address line 2</label>
                            <input type="text" class="form-control input-style" id="inputAddress2"
                                placeholder="Apartment, studio, or floor" required>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity" class="input__label">City</label>
                                <input type="text" class="form-control input-style" id="inputCity" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState" class="input__label">State</label>
                                <input type="text" class="form-control input-style" id="inputState" required>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputZip" class="input__label">Zip</label>
                                <input type="text" class="form-control input-style" id="inputZip" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputaddressyear" class="input__label">How long have you lived in your given address?</label>
                                <select id="inputaddressyear" class="form-control input-style" required>
                                    <option selected>Choose...</option>
                                    <option value="0-1 Years">0-1 Years</option>
                                    <option value="2-3 Years">2-3 Years</option>
                                    <option value="4-5 Years">4-5 Years</option>
                                    <option value="5+ Years">5+ Years</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                          <label for="inputoccupation" class="input__label">Occupation</label>
                          <input type="text" class="form-control input-style" id="inputoccupation"
                              placeholder="Occupation" required>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-4">
                              <label for="inputyearsofemployment" class="input__label">Years Of Employment</label>
                              <select id="inputyearsofemployment" class="form-control input-style" required>
                                  <option selected>Choose...</option>
                                  <option value="0-1 Years">0-1 Years</option>
                                  <option value="2-3 Years">2-3 Years</option>
                                  <option value="4-5 Years">4-5 Years</option>
                                  <option value="5+ Years">5+ Years</option>
                              </select>
                          </div>
                      </div>
                        <div class="form-group">
                            <label for="inputdownpaymentammount" class="input__label">Gross Monthly Income</label>
                            <input type="text" class="form-control input-style" id="inputdownpaymentammount"
                                placeholder="ex. 1500" required>
                        </div>
                        <div class="form-group">
                            <label for="inputrent" class="input__label">Monthly rent/mortgage</label>
                            <input type="text" class="form-control input-style" id="inputrent"
                                placeholder="ex. 0 for no rent/mortgage" required>
                        </div>
                        <div class="form-group">
                            <label for="inputdownpayment" class="input__label">Down Payment Amount</label>
                            <input type="text" class="form-control input-style" id="inputdownpayment" required>
                        </div>
                        <div class="form-group">
                          <label for="shortAccount" class="col-form-label input__label">Give A Short Account Of The Reason For Making This Loan</label>
                          <textarea class="form-control input-style" id="shortAccount" placeholder="" required></textarea>
                        </div>
                        <div class="form-check check-remember check-me-out">
                            <input class="form-check-input checkbox" type="checkbox" id="gridCheck" required>
                            <label class="form-check-label checkmark" for="gridCheck">
                                I agree with the terms and conditions of this financial institution.
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-style mt-4">Submit Request</button>
                    </form>
                </div>
            </div>
        </section>
        <!-- //forms -->
        </section>
        <!-- //forms  -->

    </div>
    <!-- //content -->

</div>
<!-- main content end-->
</section>
<!--footer section start-->
{% include 'dashboard/footer.html' %}
<!--footer section end-->
{% endblock %}